nav {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 15px 10px;
  background: #00000008;
}

nav img {
  width: 100%;
  max-width: 70px;
}

nav ul {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4vw;
  column-gap: 30px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #1654ac;
  transition: 0.3s;
  font-weight: bold;
  position: relative;
}

nav ul li a:hover {
  color: #1d76f2;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #1d76f2;
  opacity: 0;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  opacity: 1;
}
