* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
  background-image: url("./image/background-site.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
